################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/obj
/packages
/Provider/bin/Debug
/Provider/obj/Debug
/Provider/packages
/Provider/ProcsIT.Dnn.AuthServices.OpenIdConnect.csproj.user
/Client/bin/Debug
